/* White color */
$white: #fff;

/* Metal Dark color */
$dark: #111317;

/* Metal Light color */
$light: #E9EDF4;

/* Metal Middle color */
$middle: #7A818E;

/* Red color*/
$red: #E1261C;

/* Main font Sora, sans-serif fallback */
$font: 'Sora', sans-serif;

/* BG Gradient / Metal */
$bg: linear-gradient(90deg, #2B303A 0%, #3F4756 100%);

html {
    font-size: 62.5%; /* = 10px (to calculate REM units easier */
    margin: 0;
    padding: 0;
}

/* Body global styles */
body {
    font-family: $font;
    font-size: 1.8rem;
    background: $bg;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.show-preloader {
    display: block;
}

.hide-preloader {
    display: none !important;
}

main {
    padding: 10rem;
    display: grid;
    grid-template-columns: 70% 30%;
}

.content {
    color: $white;
    line-height: 3rem;
    padding-right: 10rem;
    flex-wrap: wrap;

    .highlight {
        color: $red;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
        margin: 0;
    }

    h2 {
        margin: 0;
    }
}

.extra-content {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 4rem;

    .description {
        padding-right: 4rem;

        ul {
            /* remove default bullet points */
            list-style-type: none;
            padding-inline-start: 3rem;

            li {
                position: relative;
                margin-top: 1rem;
        
                    &::before {
                        content: '';
                        position: absolute;
                        left: -2.5rem;
                        top: 1.2rem;
                        width: 1.6rem;
                        height: .4rem;
                        background: url(./images/bullet.svg);
                    }
        
                    ul li::before {
                        content: '';
                        position: absolute;
                        left: -2.5rem;
                        top: 1.2rem;
                        width: 1.2rem;
                        height: .4rem;
                        background: url(./images/bullet2.svg);
                    }
            }
        }
     
    }

    .images {
        img {
            border-radius: .4rem;
            width: 100%;
        }
    }
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-wrapper {
    background: $white;
    border-radius: 1.5rem;
    clip-path: polygon(50% 0%, 95% 0, 100% 2%, 100% 98%, 95% 100%, 5% 100%, 0 98%, 0 2%, 5% 0);
    padding: 8rem 2rem;
    box-sizing: border-box;

    h4 {
        font-size: 2.4rem;
        line-height: 2.5rem;
        margin: 0;
    }
}

.form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    // gap: 10px;

    label {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $dark;
            padding: .5rem 0;
    }

    .income-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .input-field {
            flex: 1;
            padding: 1rem 2.5rem 1rem 1rem;
            background: #FFFFFF;
            box-shadow: 0rem .2rem .4rem rgba(0, 0, 0, 0.1);
            border-radius: .4rem;
            background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #D3DAE8, #A7B7D8) border-box;
            border-radius: .4rem;
            border: 2px solid transparent;
            box-sizing: border-box;
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            color: $dark;
        }
    
        .inner-input {
            position: absolute;
            right: 1rem;
            top: 4.2rem;
            font-weight: 700;
        }
    }

    .leave-days-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .input-field {
            flex: 1;
            padding: 1rem 5.4rem 1rem 1rem;
            background: #FFFFFF;
            box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.1);
            border-radius: .4rem;
            background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #D3DAE8, #A7B7D8) border-box;
            border-radius: .4rem;
            border: 2px solid transparent;
            box-sizing: border-box;
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            color: $dark;
        }
    
        .inner-input {
            position: absolute;
            right: 1rem;
            top: 4.2rem;
            font-weight: 700;
        }
    }

        .income {
            margin-bottom: 1.5rem;
        }

        .tuberculosis {
            margin: 2rem 0;
            
            .tuberculosis_checkbox {
                
                display: block;
                position: relative;
                padding-left: 3.5rem;
                
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 2rem;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            
            }
            
            /* Hide the browser's default checkbox */
            .tuberculosis_checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
        
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: .3rem;
                left: 0;
                height: 2rem;
                width: 2rem;
                box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.1);
                background: linear-gradient(white, white) padding-box,
                            linear-gradient(to right, #D3DAE8, #A7B7D8) border-box;
                border-radius: .4rem;
                border: 2px solid transparent;
            }
        
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
        
            /* Show the checkmark when checked */
            .tuberculosis_checkbox input:checked~.checkmark:after {
                display: block;
            }
        
            /* Style the checkmark/indicator */
            .tuberculosis_checkbox .checkmark:after {
                left: .8rem;
                top: 0;
                width: .5rem;
                height: 1.2rem;
                border: solid $dark;
                border-width: 0 .4rem .4rem 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }   
        }
    
        #submit {
            padding: 2rem 4rem;
            background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
            border-radius: 3rem;
            color: $white;
            width: 16.9rem;
            font-family: $font;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            text-shadow: .2rem .2rem 0 rgba(0, 0, 0, 0.4);
            border: none;
            cursor: pointer;
            overflow: hidden;
            position: relative;

            &:hover {
                background-color: linear-gradient(90deg, #911812 0%, #E1261C 100%);
                box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.15), inset 0 -.4rem 0 rgba(0, 0, 0, 0.25);
            }

            &:hover::after {
                content: '';
                display: block;
                width: 7.5rem;
                height: 175%;
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
                opacity: 0.5;
                position: absolute;
                top: -2rem;
                left: 0;
                animation: shine 400ms linear;
                transform: translateX(32rem) rotate(-25deg);
            }

            &:active {
                background: linear-gradient(90deg, #911812 0%, #E1261C 100%);
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25), inset 0 .4rem 0 rgba(0, 0, 0, 0.25);
            }
        
            @keyframes shine {
                0% {
                    transform: translateX(-3rem) rotate(-25deg);
                }
        
                100% {
                    transform: translateX(32rem) rotate(-25deg);
                }
            }
        }
}

// Results section
.results {
    display: flex;
    border-top: 2px solid $light;
    border-bottom: 2px solid $light;
    margin: 0 -2rem;
    padding: 2rem;
    text-align: center;

    p {
        margin: 0;
    }

    .employer-compensation {
        flex: 1;
    }
    
    .insurance-compensation {
        flex: 1;
    }

    .title {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    .compensation-days {
        font-weight: 700;
        font-size: 1.4rem;
    }

    .compensation-sum {
        padding-top: 1rem;
        font-weight: 700;
        font-size: 1.8rem;
    }

    .daily-allowance {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $middle;
    }
}

// Total section
.total {
    text-align: center;
    color: $dark;

    p {
        margin: 0;
    }

    .total-title {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding-top: 2rem;
    }

    .total-sum {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3rem;
        padding-top: .5rem;
    }
}

/* MODAL */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: $dark;
    /* Fallback color */
    background-color: rgba($dark, 0.4);
    /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    width: 50%;
    position: absolute;
    border-radius: 3rem;
    background-color: $white;
    padding: 2rem;
    border: 1px solid $middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
    float: right;
    font-size: 5rem;
    font-weight: normal;
    color: $red;
    transition: all .5s ease;
}

.close:hover, .close:focus {
    color: $dark;
    text-decoration: none;
    cursor: pointer;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadein {
    animation: fadein 1s ease-in-out;
}


// Responsive queries
@media (max-width: 768px) {
        main {
            grid-template-columns: 100%;
            padding: 10vw;
        }

        .content {
          padding: 0;
        }

        .calculator {
            display: block;
        }

        .extra-content {
            grid-template-columns: 100%;

            .images {
                padding: 4rem 0;
            }
        }
}